$primary-color: #1268eb;
$dark-color: #051723;

// start header
header {
  padding: 9px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        width: 75px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 20px;

      .link {
        font-weight: 500;
        font-size: 16px;

        &.active,
        &:hover {
          color: $primary-color !important;
        }
      }
    }

    .info_header {
      display: flex;
      align-items: center;
      gap: 20px;

      .lnag {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          font-size: 20px;
        }
      }

      .btn_contact {
        background-color: #212a3e;
        color: white !important;
        font-weight: 500;
        border: none;
        padding: 8px 25px;
        border-radius: 6px;
      }

      .btn_menu {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .container {
      .logo {
        img {
          width: 55px;
        }
      }

      .links {
        display: none;
      }

      .info_header {
        .lnag {
          i {
            font-size: 18px;
          }

          span {
            font-size: 14px;
          }
        }

        .btn_contact {
          padding: 5px 15px;
          font-size: 14px;
          display: none;
        }

        .btn_menu {
          display: block;
          cursor: pointer;

          i {
            font-size: 22px;
          }
        }
      }
    }
  }
}
// end header

// start main_head
.main_head {
  background-image: url(../images/breadcrumb-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 100;

    h1 {
      font-weight: 700;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        font-size: 18px;
        font-weight: 600;

        &:first-child {
          color: $primary-color !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main_head {
    height: 180px;

    .container {
      h1 {
        font-size: 20px;
      }
    }
  }
}
// end main_head

// start menu_mobile

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.393);
  z-index: 998;
  display: none;

  &.active {
    display: block;
  }
}

.menu_mobile {
  padding: 20px;
  color: $dark-color;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: all 0.4s;
  text-align: center;

  &.active {
    left: 0;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
      width: 50px;
    }

    i {
      font-size: 22px;
      cursor: pointer;
    }
  }

  .links {
    a {
      font-size: 20px;
      font-weight: 500;
      display: block;

      margin-bottom: 15px;

      &.active {
        color: $primary-color !important;
      }
    }
  }

  .btn_contact {
    background-color: $primary-color;
    color: white !important;
    font-weight: 500;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
  }
}
// end menu_mobile
