$primary-color: #1268eb;
$dark-color: #051723;

// start contact_section
.contact_section {
  padding: 70px 0;

  .line {
    display: flex;
    align-items: center;
    gap: 40px;

    > div {
      width: 50%;
    }

    .left {
      .subtitle {
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 10px;
      }
      .title {
        font-weight: 800;
        font-size: 40px;
      }

      .desc {
        color: gray;
        line-height: 1.7;
      }

      .info_items {
        margin-top: 30px;

        .item {
          display: flex;
          align-items: center;
          gap: 15px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .icon {
            width: 50px;
            height: 50px;
            min-width: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            color: white;

            svg {
              width: 25px;
            }
          }

          span {
            font-size: 15px;
            color: gray;
          }
        }
      }
    }

    .right {
      padding: 30px;
      border-radius: 10px;
      border: 2px dashed $primary-color;

      h4 {
        text-align: center;
        margin-bottom: 50px;
      }

      form {
        .input_item {
          margin-bottom: 15px;
          position: relative;

          label {
            font-weight: 700;
            font-size: 17px;
            display: block;
            margin-bottom: 5px;
          }

          input,
          select,
          textarea {
            width: 100%;
            padding: 6px;
            background-color: #eaf0f8;
            border: none;
            border-radius: 5px;
          }

          textarea {
            height: 150px;
          }

          .error {
            position: absolute;
            bottom: -1px;
            right: 0;
            font-size: 13px;
            color: red;
          }
        }

        .btn_submit {
          padding: 5px 25px;
          background-color: $primary-color;
          color: white;
          font-weight: 600;
          border: none;
          border-radius: 4px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact_section {
    padding: 30px 0;

    .line {
      flex-direction: column;
      gap: 30px;

      > div {
        width: 100%;
      }

      .left {
        text-align: center;

        .subtitle {
          font-size: 15px;
        }

        .title {
          font-size: 23px;
        }

        .desc {
          font-size: 14px;
        }

        .info_items {
          margin-top: 15px;

          .item {
            flex-direction: column;
            gap: 10px;

            &:not(:last-child) {
              margin-bottom: 12px;
            }

            .icon {
              width: 40px;
              height: 40px;
              min-width: 40px;
            }
          }
        }
      }

      .right {
        padding: 15px;

        h4 {
          margin-bottom: 30px;
          font-size: 20px;
        }

        .input_item {
          label {
            font-size: 14px;
          }

          input,
          select,
          textarea {
            padding: 4px;
          }

          textarea {
            height: 100px;
          }
        }
      }
    }
  }
}
// end contact_section

// start map_section
.map_section {
  padding: 50px;

  .map {
    overflow: hidden;
    border-radius: 10px;

    iframe {
      height: 400px;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .map_section {
    padding: 20px;

    iframe {
      height: 300px;
    }
  }
}
// end map_section
