$primary-color: #1268eb;
$dark-color: #051723;

// start materials_section
.materials_section {
  padding: 80px 0;

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .box {
      padding: 40px;
      border: 2px dashed $dark-color;
      border-radius: 10px;
      text-align: center;

      .icon {
        margin-bottom: 15px;

        svg {
          width: 40px;
        }
      }

      h4 {
        font-size: 20px;
      }

      span {
        color: gray;
      }
    }
  }
}

@media (max-width: 768px) {
  .materials_section {
    padding: 40px 0;

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;

      .box {
        padding: 20px;

        .icon {
          margin-bottom: 8px;

          svg {
            width: 30px;
          }
        }

        h4 {
          font-size: 18px;
          margin-bottom: 0;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}
// end materials_section
